[variables]
NODE_ENV = "production"

[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
  "npm ci --workspace=@trayb/frontend"
]

[phases.build]
cmds = [
  "turbo run build --filter=@trayb/frontend",
  "npm prune --workspace=@trayb/frontend --omit=dev"
]

[build]
cacheDirectories = [
  "node_modules",
  "apps/frontend/node_modules",
  ".turbo"
]

[start]
cmd = "cd apps/frontend && npm run start"

