[phases.setup]
nixPkgs = [
  'nodejs_22',
  'python311',
  'pkg-config',
  'cairo',
  'pango',
  'pixman',
  'pixman.dev',
  'libpng',
  'jpeg',
  'giflib',
  'freetype',
  'librsvg'
]

[phases.install]
cmds = ['npm ci --workspace=@trayb/backend']

[phases.build]
cmds = [
  'npx prisma generate --schema=./apps/backend/prisma/schema.prisma',
  'npm run build --workspace=@trayb/backend'
]

[start]
cmd = 'cd apps/backend && node dist/index.js'

